<a href="https://colab.research.google.com/github/FractalHorns/Analytical-Work/blob/main/Samigulov_Python_Examination.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
# Дан код, генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид.
import random
import pandas as pd

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  human
3  robot
4  robot

In [30]:
# Сделайте one hot вид с использованием get_dummies
pd.get_dummies(data['whoAmI'])

    human  robot
0       1      0
1       1      0
2       1      0
3       0      1
4       0      1
5       0      1
6       1      0
7       1      0
8       0      1
9       0      1
10      0      1
11      0      1
12      1      0
13      1      0
14      0      1
15      1      0
16      0      1
17      1      0
18      1      0
19      0      1

In [33]:
# Сделайте one hot вид с использованием изученных методов группировки данных. Обратите внимание, что Nan это не ноль.
data.loc[data['whoAmI'] == 'human', 'human'] = '1'
data.loc[data['whoAmI'] != 'human', 'human'] = '0'
data.loc[data['whoAmI'] == 'robot', 'robot'] = '1'
data.loc[data['whoAmI'] != 'robot', 'robot'] = '0'

data[['human', 'robot']]

   human robot
0      1     0
1      1     0
2      1     0
3      0     1
4      0     1
5      0     1
6      1     0
7      1     0
8      0     1
9      0     1
10     0     1
11     0     1
12     1     0
13     1     0
14     0     1
15     1     0
16     0     1
17     1     0
18     1     0
19     0     1