<a href="https://colab.research.google.com/github/FractalHorns/Analytical-Work/blob/main/Samigulov_Homework9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Samigulov A.F. California Housing Stat.

In [55]:
data_file = 'sample_data/california_housing_test.csv'
datas = pd.read_csv(data_file)

In [4]:
datas

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

9.1[40]: Работа в Google Colab. Файл california_housing_train.csv, который находится в папке sample_data.
Для домов, где кол-во людей от 0 до 500 (population) вывести информацию о цене дома(median_house_value):
максимальное значение, минимальное значение, среднее, медиану

In [25]:
datas[datas['population'] < 501]['median_house_value'].max()

500001.0

In [26]:
datas[datas['population'] < 501]['median_house_value'].min()

37500.0

In [27]:
datas[datas['population'] < 501]['median_house_value'].mean()

190157.0918032787

In [28]:
datas[datas['population'] < 501]['median_house_value'].median()

156300.0

9.2[42]: Работа в Google Colab. Файл california_housing_train.csv, который находится в папке sample_data.
Узнать какая максимальная households в зоне минимального значения population

In [53]:
Почему не работает данный код? 
##min_population = datas['population'].min()
##datas[datas['min_population'] == ['households'].max()]

In [54]:
## Рабочий вариант
datas[datas['population'] == datas['population'].min()]['households'].max()

3.0